DIFFERENCE BETWEEN LIST AND TUPLE

In [11]:
list_=[122,'hi',32,7.8,"@"]
print(list_)


print(type(list_))

tuple_=122,'hi',32,7.8,"@"
print(tuple_)

print(type(tuple_))

list_.copy()

[122, 'hi', 32, 7.8, '@']
<class 'list'>
(122, 'hi', 32, 7.8, '@')
<class 'tuple'>

In [16]:
a_set={"apples","oranges","peaches","grapes","apples","oranges"}
print(a_set)

{'peaches', 'apples', 'oranges', 'grapes'}

**DICTIONARIES

In [1]:
a_dictionary={1:2,2:3,3:'$'}
print(a_dictionary)

print(type(a_dictionary))

#alternative to declare a dictionary
sec_dict=dict([(1,2),(2,3),(3,4),(4,5)])
print(sec_dict)

a={y:y*8 for y in (2,3,4,5,6)}
print(a)

b={y:y*8 for y in [2,3,4,5,6]}
print(b)

#When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:


c=dict(sape=4139, guido=4127, jack=4098)
print(c)

{1: 2, 2: 3, 3: '$'}
<class 'dict'>
{1: 2, 2: 3, 3: 4, 4: 5}
{2: 16, 3: 24, 4: 32, 5: 40, 6: 48}
{2: 16, 3: 24, 4: 32, 5: 40, 6: 48}
{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [3]:
a_dictionary[1]

2

In [11]:
print(a_dictionary.items())

print(a_dictionary.keys())

dict_items([(1, 2), (2, 3), (3, '$')])
dict_keys([1, 2, 3])

In [10]:
a_dictionary[3]

'$'

In [21]:
a_dictionary['guido'] = 4127

In [22]:
a_dictionary

{1: 2, 2: 3, 3: '$', 'guido': 4127}

In [28]:
list(a_dictionary)

[1, 2, 3, 'guido']

In [38]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

 
**Python3 program to demonstarte the str.format() method

In [39]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

# using format option in a simple string 
print ("{}, A computer science portal for geeks."
                        .format("GeeksforGeeks")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(18))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

**DATAFRAME AND SERIES FROM DICTIONARIES

In [15]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3], 'b':[{'c':1}, {'d':3}, {'c':5, 'd':6}]})
df

   a                 b
0  1          {'c': 1}
1  2          {'d': 3}
2  3  {'c': 5, 'd': 6}

In [16]:
df['b'].apply(pd.Series)

     c    d
0  1.0  NaN
1  NaN  3.0
2  5.0  6.0

In [17]:
df                  #df remains unchanged till now

   a                 b
0  1          {'c': 1}
1  2          {'d': 3}
2  3  {'c': 5, 'd': 6}

In [18]:
pd.concat([df.drop(['b'], axis=1), df['b'].apply(pd.Series)], axis=1)

   a    c    d
0  1  1.0  NaN
1  2  NaN  3.0
2  3  5.0  6.0

In [19]:
df                    #still unchanged hence drop is temporary function

   a                 b
0  1          {'c': 1}
1  2          {'d': 3}
2  3  {'c': 5, 'd': 6}

In [50]:
 pd.concat([df.drop('b', axis=1), pd.DataFrame(df['b'].tolist())], axis=1)

   a    c    d
0  1  1.0  NaN
1  2  NaN  3.0
2  3  5.0  6.0

df
Station ID     Pollutants
8809           {"a": "46", "b": "3", "c": "12"}
8810           {"a": "36", "b": "5", "c": "8"}
8811           {"b": "2", "c": "7"}
8812           {"c": "11"}
8813           {"a": "82", "c": "15"}


TO


df2
Station ID     a      b       c
8809           46     3       12
8810           36     5       8
8811           NaN    2       7
8812           NaN    NaN     11
8813           82     NaN     15

In [20]:
import pandas as pd

df2 = pd.json_normalize(df['Pollutant Levels'])

AttributeError: module 'pandas' has no attribute 'json_normalize'